<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url('../../Content/images/Thirukadaiyurtemplemarriages1.jpg'); ">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About us</h1>
                        <h2>Thirukadaiyur Marriages-Arrangements Booking Contacts: +916379158216 and +919585831457<br /><br /><a href="/Home/OnlineBooking/"  style="font-weight:bold">Sashtiapthapoorthi Online Booking</a>
                            <br /><br /><a href="/Home/Index/#fh5co-couple-story" style="font-weight:bold">Sashtiapthapoorthi Procedure and Cost at Thirukadaiyur</a>
                        

</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-services" class="fh5co-section-gray" >
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Our Services</h2>
                <p>The professional wedding planners at thirukadaiyur. we are focusing every individual program/function.  planning great things as per your requirement</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-heart"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Thirukadaiyur Marriages </h3>
                        <p>சன்னதியில் திருமண இடம்,அபிஷேக ஐயர் ,அபிஷேக பொருள்கள் மேலும் தங்கள் தேவைக்கு ஏற்ப..</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-cake"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Food Arrangement (Veg)</h3>
                        <p>25 to 50 நபர்களுக்கு சைவ உணவு ஏற்பாடு செய்யப்படும் அல்லது புக் செய்து தரப்படும்  </p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-home"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Hotels Bookings AC and non AC</h3>
                        <p>தாங்கும் நாட்கள் மற்றும் நபர்களை பொறுத்து  தங்கள் தேவைக்கேற்ப AC Room அல்லது Non AC புக் செய்து தரப்படும்  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-images"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Photography Arrangements</h3>
                        <p>RS-2500 முதல் சிறந்த போட்டோக்ராபிக் நபர்கள் புக் செய்து தரப்படும்</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-video"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Video Coverage</h3>
                        <p>We are booking Video coverage,Editing, photo booklet. etc.. as per your need.</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-image"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Tours & Travals</h3>
                        <p>We are also arranging tourism of south side nearby temples vist. car, van ...etc booking available </p>
                    </div>
                </div>
            </div>        
        </div>

        <div class="col-md-8 col-md-offset-2 text-center">        
            <input type="button" value="View Details & Book Now" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OnlineBooking", "Home") + "'");"/>       
        </div>

    </div>
</div>
<section id="ourservices">
    <div id="fh5co-gallery" class="fh5co-section-gray" style="padding: 3em 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Book Your Accommodation</span>
                    <h2>Hotels in Thirukadaiyur</h2>
                    <p>Hotels, Rooms, AC and Non AC Cottages, Guest Houses... Select as per your budget!</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">

                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotelsinthirukadaiyur62.jpg'); ">
                            <a href="images/gallery-1.jpg">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250 sq ft <br />Bed: 2 doubles +1 person ₹150</span>
                                    <h2 style="font-size: 25px;">Abirami Residency<br />(Non AC)<br /><br />From ₹550 to ₹700</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotel1.jpg'); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250 sq ft <br />Bed: 2 doubles +1 person ₹100</span>
                                    <h2 style="font-size: 25px;">Hotel Krishna <br />(Non AC)<br /><br /> ₹600 Onwards... </h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotelsinthirukadaiyur3.jpg'); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250 sq ft <br />Bed: 2 doubles </span>
                                    <h2 style="font-size: 25px;">Hotel Sadhabishegam (Non AC)<br /><br />  ₹750 Onwards...</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotelsinthirukadaiyur1.jpg');">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250 sq ft <br />Bed: 2 doubles </span>
                                    <h2 style="font-size: 25px;">Hotel Krishna AC<br /> Abirami Residency AC <br /><br />From ₹800 to  ₹990</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotelsinthirukadaiyur42.jpg'); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250 sq ft <br />Bed: 2 doubles <br />+1 person(max) ₹200 </span>
                                    <h2 style="font-size: 25px;">Hotel Kanagabishegam <br /> Hotel Sadhabishegam  <br /> Hotel Chella <br /> JR Residency <br />all are AC<br /> <br />₹999 Onwards...</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Hotelsinthirukadaiyur5.jpg'); ">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">250-300 sq ft <br />Bed: 2-4 king(s)<br />+1 person(max) ₹250 </span>
                                    <h2 style="font-size: 25px;">JR Residency AC <br />Abirami Residency AC<br /> Hotel Chella AC<br /><br /> From ₹1250 to  ₹1700</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Roomsinthirukadaiyur1.jpeg');  ">
                            <a href="#" class="color-4">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">400-500 sq ft <br />10 -15 Persons</span>
                                    <h2 style="font-size: 25px;" >Guest House<br /> Non AC & AC <br /> From ₹2000 to  ₹3300</h2style="font-size:>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Roomsinthirukadaiyur4.jpg'); ">
                            <a href="#" class="color-5">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">800-1000 sq ft <br />40 -50 Persons</span>
                                    <h2 style="font-size: 25px;">Guest House<br /> Non AC & AC<br /> From ₹5500 to  ₹6500</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Roomsinthirukadaiyur5.jpg'); ">
                            <a href="#" class="color-6">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">800-1000 sq ft <br />50 -60 Persons</span>
                                    <h2 style="font-size: 25px;" >Guest House<br /> Non AC & AC<br /> From ₹6500 to  ₹7500</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Food">
    <div id="fh5co-gallery" class="fh5co-section-gray" style="    padding: 3em 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Book Your Food! in Thirukadaiyur</span>
                    <h2>Food</h2>
                    <p>Arranging Breakfast, Lunch and Dinner and snacks...Select as per your budget!</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">

                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/BreakFast.jpg'); ">
                            <a href="images/gallery-1.jpg">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">Sweet<br />Idly , Pngal,Vada,Poori + Cofee</span>
                                    <h2 >Break Fast</h2><br />
                                    <span style="font-size: 17px; font-weight: bold;">From ₹100 Onwards...</span>
                                </div>
                            </a>
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/Lunch.JPG'); ">
                            <a href="#" class="color-2">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">Sweet<br />Rice Dhal,Kootu,Porial,Gee<br />Sambar,Vathal kuzhambu,Rasam,Curd<br /> Vadai,Payasam, Appalam</span>
                                    <h2 >Lunch</h2><br />
                                    <span style="font-size: 17px; font-weight: bold;">From ₹150 Onwards...</span>
                                </div>
                            </a>
                        </li>

                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('../../Content/images/dinner.jpg'); ">
                            <a href="#" class="color-3">
                                <div class="case-studies-summary">
                                    <span style="font-weight:bold">Sweet<br />Idly,Chapathi,Kichadi</span>
                                    <h2 >Dinner</h2><br />
                                    <span style="font-size: 17px; font-weight: bold;">From ₹100 Onwards...</span>
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="neartemples">
    <div id="fh5co-gallery" class="fh5co-section-gray" style="    padding: 3em 0;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span></span>
                <h2>Thirukadaiyur Nearby Temples</h2>
                <p></p>
            </div>
            </div>
            <div class="container">
               
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <img src="~/Content/images/gallery-1.jpg" alt="test" style="width:100%;" />
                            @*<img src="la.jpg" alt="Los Angeles" style="width:100%;">*@
                            <div class="carousel-caption">
                                <h3>Los Angeles</h3>
                                <p>LA is always so much fun!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/Content/images/gallery-2.jpg" alt="test" style="width:100%;" />
                            <div class="carousel-caption">
                                <h3>Chicago</h3>
                                <p>Thank you, Chicago!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/Content/images/gallery-3.jpg" alt="test" style="width:100%;" />
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


        </div>
</section>








