<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url('../../Content/images/t7.png'); ">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About us</h1>
                        <h2>For 60th Marriage and Wedding Arrangements-Booking Contact: +916379158216 and +919585831457<br /><a href="/Home/OnlineBooking/" >Click here for online booking</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>We Offer Services</h2>
                <p>Thirukadaiyur Wedding Services and Arrangements</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-heart"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>We Organized Marriages</h3>
                        <p>சன்னதியில் திருமண இடம் ,அபிஷேக ஐயர் ,அபிஷேக பொருள்கள் மேலும் தங்கள் தேவைக்கு ஏற்ப..</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-cake"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Food</h3>
                        <p>25 to 50 நபர்களுக்கு சைவ உணவு ஏற்பாடு செய்யப்படும் அல்லது புக் செய்து தரப்படும்  </p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-home"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Hotels</h3>
                        <p>தாங்கும் நாட்கள் மற்றும் நபர்களை பொறுத்து  தங்கள் தேவைக்கேற்ப AC Room அல்லது Non AC புக் செய்து தரப்படும்  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-images"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Photography</h3>
                        <p>RS-2500 முதல் சிறந்த போட்டோக்ராபிக் நபர்கள் புக் செய்து தரப்படும்</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-video"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Video Coverage</h3>
                        <p>We are booking Video coverage,Editing, photo booklet. etc.. as per your need.</p>
                    </div>
                </div>
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                    <span class="icon">
                        <i class="icon-image"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Tours & Travals</h3>
                        <p>We are also arranging tourism of south side nearby temples vist. car, van ...etc booking available </p>
                    </div>
                </div>
            </div>        
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">        
            <input type="submit" value="View Details & Book Now" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("OnlineBooking", "Home") + "'");"/>       
        </div>

    </div>
</div>


