<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/t4.jpg);">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Contact Us</h1>
                        <h2>For 60th Marriage,Thirukadaiyur Wedding Arrangements Booking Contact +916379158216  +919585831457<br /><a href="/Home/OnlineBooking/" >Click here to visit our services and packages.</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 animate-box">
                <h3>Get In Touch</h3>
                <form action="#">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                        </div>
                        <div class="col-md-6">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-pull-5 animate-box">

                <div class="fh5co-contact-info">
                    <h3>Contact Information</h3>
                    <ul>
                        <li class="address">Abirami Arrangemants<br>Sannathi Street <br>Thirukadaiyur 690311</li>
                        <li class="phone"><a href="Mobile:+916379158216"></a>+916379158216 and <a href="Mobile:+919585831457"></a>+919585831457</li>
                        <li class="email"><a href="mailto:abirami.arangements@gmail.com">abirami.arangements@gmail.com</a></li>
                        <li class="url"><a href="http://thirukadaiyurweddings.com">www.thirukadaiyurweddings.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
