
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url('../../Content/images/gallery-6.jpg'); ">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc " data-animate-effect="fadeIn">
                        <h1>Thank You!</h1>
                        <h2>We will contact you soon for further details. For clarifications, please contact +916379158216 and  +919585831457<br /></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

